In [2]:
#importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [3]:
restaurant_data = pd.read_csv('chainness_point_2021_part1.csv')

In [4]:
#Looking at the first few values of the data frame
restaurant_data.head()

,RestaurantName,Cuisine,OpenHours,State,CNTY_GEOID,CNTY_NAME,UA_GEOID,UA_NAME,MSA_GEOID,MSA_NAME,Lon,Lat,Frequency,isChain
0,Subway,Restaurant,Sun 900 AM 1100 PM | Mon Sat 800 AM 1100 PM,OK,40143,Tulsa,88948.0,"Tulsa, OK",46140.0,"Tulsa, OK",-95.855606,36.119330,24333,1
1,Subway,Restaurant,Sun 1000 AM 730 PM | Mon Fri 930 AM 830 PM ...,OH,39133,Portage,17668.0,"Cleveland, OH",10420.0,"Akron, OH",-81.348560,41.320137,24333,1
2,Subway,Restaurant,Sun Sat 1200 AM 1200 AM,IL,17031,Cook,16264.0,"Chicago, IL--IN",16980.0,"Chicago-Naperville-Elgin, IL-IN-WI",-87.723145,41.775288,24333,1
3,Subway,Restaurant,Sun Sat 1000 AM 900 PM,AR,5085,Lonoke,50392.0,"Little Rock, AR",30780.0,"Little Rock-North Little Rock-Conway, AR",-92.009220,34.946293,24333,1
4,Subway,Restaurant,NaN,IL,17031,Cook,16264.0,"Chicago, IL--IN",16980.0,"Chicago-Naperville-Elgin, IL-IN-WI",-87.738870,41.657290,24333,1